# Виртуальное окружение
venv/
env/

# Секреты и конфиги
.env

# Кэш питона
__pycache__/
*.py[cod]
*$py.class

# База данных SQLite (чтобы не пушить тестовую базу)
*.db
*.sqlite3

# Настройки PyCharm
.idea/
